<div>
  <div>
    <h5><u>Please feel free to leave your name and a review about this product gallery :)</u></h5>
  </div>
  
  <label for="name">Name</label>
  <input required type="text" name="name" id="name" class="form-control">
  <label for="message">Message</label>
  <textarea name="message" id="message" class="form-control"></textarea>
  <button type="submit" class="mt-2 btn btn-primary">Post New Comment</button>
  
</div>

